* {
	padding: 0;
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: "Courier";
	font-size: 30px;
}

.startButton {
	-moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	-webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Courier";
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}

.startButton:hover {
	background-color:#b34332;
}

.startButton:active {
	position:relative;
	top:1px;
}

h1 {
	font-size: 40px;
}

.center {
    margin: 0 auto;
    width: 500px; 	
}

#register {
	padding-top: 200px;
}
